    <h1>Visualizar ventas</h1>
<table class="table">
    <thead>
      <tr>
        <th class="text-center">Id</th>
        <th  class="text-center">Nombre</th>
        <th  class="text-center">Numero de tarjeta</th>
        <th  class="text-center">Pago total</th>
        <th  class="text-center">Eliminar</th>
      </tr>
    </thead>
      <tr>
        <td align="center"> 1 </td>
        <td align="center"> Rodrigo </td>
        <td align="center"> 4242424242424242 </td>
        <td align="center"> $600 </td>
        <td align="center">
          <a class="btn btn-success">Eliminar</a>
        </td>
      </tr>
</table>

