    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1>Editar cliente</h1>
            <form [formGroup]="form" (submit)="actualizarUsuario()">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
  <input type="text" formControlName="nombre" class="form-control">
                </div>
                <div class="form-group">
                    <label for="correo">Correo</label>
  <input type="text" formControlName="correo" class="form-control">
                </div>
                <div class="form-group">
                    <label for="role">Role</label>
                    <select class="form-control">
                        <option value="5cdc9fb2060140351004e967"> Cliente </option>
                        <option value="5cdc95c63776ea0a10c9ddbc"> Administrador </option>
                    </select>
                </div>

  <button type="submit" class="btn btn-primary pull-right">Actualizar</button>
            </form>
        </div>
    </div>

