<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>Registro de producto</h1>
    <form [formGroup]="form" (submit)="onAddProducto()" enctype="multipart/form-data">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input formControlName="nombre" class="form-control">
      </div>
      <div class="form-group">
        <label for="precio">Precio</label>
        <input formControlName="precio" class="form-control">
      </div>
      <div class="form-group">
        <label for="cantidad">Cantidad</label>
        <input formControlName="cantidad" class="form-control">
      </div>
      <div class="form-group">
        <label for="imagen">Imagen</label>
        <button class="btn btn-primary" type="button" (click)="filePicker.click()"
        class="form-control">presione para elegir imagen</button>
        <input type="file" #filePicker (change)="onImagePicked($event)">
      </div>
      <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview  && form.get('imagen').valid">
        <img [src]="imagePreview" [alt]="form.value.nombre">
      </div>
      <div class="form-group">
        <label for="categoria">Categoria </label>
          <select formControlName="categoria_id"
          class="form-control">
            <option [value]="categoria.id" *ngFor="let categoria of categorias">
              {{ categoria.nombre }}
            </option>
          </select>
      </div>
<button type="submit" class="btn btn-primary pull-right">Registrar</button>
    </form>
      </div>
</div>

