<div class="row">
      <div class="col-md-8 col-md-offset-2">
            <h1>Compras de clinete </h1>
            <hr>
            <h2>Compras</h2>
          <div class="panel panel-default">
              <div class="panel-heading">
                <strong>Fecha de compra:  5/07/2019 </strong>
              </div>
                <div class="panel-body">
                        <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="badge">$300 </span>
                                     pantalones  |  2  unidades
                                </li>
                        </ul>
                </div>
                  <div class="panel-footer">
                        <strong>Precio total: $600 </strong>
                  </div>
          </div>
      </div>
</div>
